.zNoeh {
    margin: 10px 0 0;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.1) 0 0 0 0, rgba(0,0,0,0.1) 0px 4px 11px;
    border-radius: 5px;
    overflow: auto;
    max-height: 270px;
}
.react-search-box-dropdown-list-item{
    overflow-wrap: normal;
    word-break: break-word;
    padding: 30px 20px !important;
}