.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    cursor: pointer;
    min-width: 32px;
    min-height: 26px;
}

.ui.label>.icon{
    margin: 0;
}

.ui.label:last-child {
    color: #4174FF;
}